    <%- include('partials/header.ejs') %>

    <main>
        <section id="day_horoscope">
            <h3>Ton horoscope du jour :</h3>
            <div class="zodiac_buttons">
                <% signs.forEach(signs => { %>
                    <button onclick="showHoroscope('<%= signs.name %>', ` https://kayoo123.github.io/astroo-api/jour.json `, 'dayResults')">
                        <%= signs.label %>
                    </button>
                <% }); %>
            </div>
            <p id="dayResults">Ton horoscope apparaîtra ici ✨</p>
        </section>

        <section id="week_horoscope">
            <h3> Ton horoscope de la semaine :</h3>
            <div class="zodiac_buttons">
               <% signs.forEach(signs => { %>
                    <button onclick="showWeekHoroscope('<%= signs.name %>', `https://kayoo123.github.io/astroo-api/hebdomadaire.json`, 'weekResults')">
                        <%= signs.label %>
                    </button>
                <% }); %>
            </div>
            <p id="weekResults">Ton horoscope apparaîtra ici ✨</p>
        </section>
    </main>
    
    <%- include('partials/footer.ejs') %>
    

    