    <%- include('partials/header.ejs') %>

    <main>
        <section id="day_horoscope">
            <h3>Ton horoscope du jour :</h3>
            <div class="zodiac_buttons">
                <% signs.forEach(signs => { %>
                    <button onclick="showHoroscope('<%= signs.name %>', ` https://kayoo123.github.io/astroo-api/jour.json `, 'resultatJour')">
                        <%= signe.label %>
                    </button>
                <% }); %>
            </div>
            <p id="day_results">Ton horoscope apparaîtra ici ✨</p>
        </section>

        <section id="week_horoscope">
            <h3> Ton horoscope de la semaine :</h3>
            <div class="zodiac_buttons">
               <% signs.forEach(signs => { %>
                    <button onclick="showHoroscope('<%= signs.name %>', `https://kayoo123.github.io/astroo-api/hebdomadaire.json`, 'resultatSemaine')">
                        <%= signe.label %>
                    </button>
                <% }); %>
            </div>
            <p id="week_results">Ton horoscope apparaîtra ici ✨</p>
        </section>
    </main>
    
    <%- include('partials/footer.ejs') %>
    